:root {
    --white: #ffffff;
    --red: #ee2e14;
    --gray: #505155;
    --light-gray: #6f7380;
    --white-gray: #a9a9a9;
    --blue: #14a9ee;
    --black: #232428;
    --font-family-serif: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #232428; */
    background-color: rgb(182, 185, 166);
}

ol, ul {
    list-style: none;
}

span, .label, h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

.dash_red {
    color: var(--red);
}

.dash_white {
    color: var(--white);
    margin-left: 10px;
}

.label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .03em;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.wrap_cover {
    background: url('../img/bg/promo_bg.png') no-repeat 91.56% 51.56% / cover;
}

nav .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav .container .nav-item a {
    color: var(--white);
    font-size: 15px;
    font-weight:600;
    text-decoration:none;
}

nav .container .navbar-brand img {
    max-width: 188px;
    height: auto;
    
}

nav .container .me-0 {
    margin-left: auto !important;
}

nav .container .nav-link {
    text-align: center;
}

nav .navbar-toggler:focus {
    color: transparent;
}
nav .navbar-toggler:hover {
    color: transparent;
}

.promo {
    padding-top: 140px;
    padding-bottom: 90px;
}

.navbar-expand-lg {
    padding-top: 30px;
    padding-bottom: 30px;
}

.promo h1 {
    font-size: 180px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}

.promo .promo_play_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 24px;
    word-break: break-word;
}

.promo .col-md-5 a, .dash_white {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .03em;
    line-height: 1.6;
    color: var(--white);
}

.promo .col-md-12, .col-md-5, .col-md-3, .col-md-4 {
    padding-top: 30px;
}

.promo .promo_schedule .promo_header {
    font-size: 17px;
    font-weight: 700;
}

.promo .promo_schedule .promo_subheader {
    font-size: 13px;
    font-weight:500;
}

.promo .promo_schedule .promo_subheader .promo_subheader_bold {
    font-weight:700;
}

.promo .promo_schedule .promo_subheader_text {
    color: rgba(255,255,255,0.75);
    font-size: 13px;
    font-weight:500;
}

.promo .promo_schedule .promo_subheader_more {
    color: var(--white);
    font-size: 14px;
    font-weight:700;
    text-decoration:none;
}

@media (max-width: 1920px) {
    .wrap_cover {
        background: url('../img/bg/promo_bg.png') no-repeat 91.56% 51.56% / cover;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    h1 {
        font-size:125px !important
    }
}

@media (max-width: 767px) {
    h1 {
        font-size:70px !important;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .promo {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (max-width: 767px) {
    .promo {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .promo .col-md-12  {
            padding-top: 0;
    }
}

@media (max-width: 767px) {
    .promo .col-md-12  {
        padding-top: 0;
    }
}